.main-header .main-menu {
    position: relative;
    z-index: 1;
    padding: 0px 40px;
    border-radius: 50px;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    background-color: rgb(179 179 179);
}
.main-header .main-menu .navigation > li > a {
    font-size: 16px;
    font-weight: 700;
}
.btn-style-one {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    overflow: hidden;
    text-align: center;
    border-radius: 50px;
    padding: 15px 35px;
    display: inline-block;
    color: var(--white-color);
    text-transform: capitalize;
    background-color: rgb(174 174 174);
}
.main-footer_pattern {
    position: absolute;
    right: -1%;
    bottom: 14%;
    width: 63%;
    height: 246px;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.default-form form button {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 48px;
    height: 48px;
    font-size: 16px;
    border-radius: 6px;
    line-height: 48px;
    text-align: center;
    display: inline-block;
    color: var(--white-color);
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    background-color: rgb(179 179 179);
    font-family: "flaticon_palace-icons";
}